Django==4.2.3
django-admin-autocomplete-filter==0.7.1
django-admin-list-filter-dropdown==1.0.3
django-admin-shortcuts==2.1.1
django-cors-headers==4.1.0
django-extensions==3.2.3
django-filter==23.2
django-json-widget==1.1.1
django-oauth-toolkit==2.3.0
django-password-reset==2.0
django-queryable-properties
django-ses==3.5.0
django-shell-plus==1.1.7
djangoql==0.17.1
djangorestframework==3.14.0
djangorestframework-csv==2.1.1


psycopg2==2.9.7